[Unit]
Description=Display information to lcd
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=python /home/ew/work/display_lcd/display_lcd.py
ExecStop=/bin/kill -WINCH ${MAINPID}
KillSignal=SIGCONT
Restart=always

[Install]
WantedBy=multi-user.target